body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    /* display: flex; */
    /*  background-color: #3a3e3d; */
    padding: 20px;
    align-items: center;
    /* justify-content: space-between;*/
}

.topLogoSection {
    display: flex;
    justify-content: space-between;

}

.logo-container {
    align-self: flex-start;
    padding: 10px
}

.logo-container-TopList ul {
    list-style: none;
    padding-left: 20px;
    display: flex;
    justify-content: flex-end;
}

.logo-container-TopList li {
    margin-right: 20px;
}


nav ul {
    list-style: none;
    padding: 20px;
    /*  display: flex;
    flex-direction: column; */
}

.container {
    display: flex;
    /*   justify-content: space-around; */
    color: white;
    background-color: #3a3e3d;
    width: 100%;


}

.column {
    padding: 0px;
}

.column-one {
    width: 25%;
    /* background-color: #3a3e3d; */
    padding-left: 0px;
}

.column-two {
    width: 75%;
    background-color: #00c9e7;
    /* outline: 1px solid red;*/
}

.hero-section {
    display: flex;

}

.text-section {
    padding-top: 30px;
    padding-left: 20px;
    background-color: #00c9e7;
    color: white;


}

.image-section {
    /*  flex: 1; */

    margin-bottom: -3px;
    margin-top: -15px;
}

h1 {
    margin: 0;
}

p {
    color: #3a3e3d;
}

img {
    max-width: 100%;
}

footer {
    background-color: #00c9e7;
    text-align: center;


}

button {
    background-color: #3a3e3d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    margin-top: 10px;
}

.paragraph-section {
    background-color: white;
    /*   display: flex;
    justify-content: space-between;*/
    padding: 20px;
}

.paragraph-section p {
    background-color: white;
    padding: 10px;
    margin: 0;
}

.footer-content {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-list {
    list-style: none;
    padding: 0;
    text-align: center;
}

.footer-list li {
    margin: 5px 0;
}